body {
    font-family: "Karla", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #F0F0F0;
}


header {
    padding: 50px;
    text-align: center;
}


nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 100;
    width: 100%;
    text-align: center;
    overflow: hidden;
}


.logo {
    height: 45px;
    filter: drop-shadow(0.7px 0.7px 0.3px rgba(157, 255, 0, 0.5));
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-link {
    display: inline-block;
    transition: transform 0.3s ease;
    position: relative;
    margin-top: 6px;
    margin-left: 1%;
}

.logo:hover {
    transform: scale(1.2);
}


.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 5%;
    padding-top: 18px;
}

.nav-links a {
    display: inline-block;
    color: #BEBEBE;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
}

nav a {
    display: inline-block;
    color: #BEBEBE;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 40px;
}

nav a.active {
    font-weight: bold;
    color: #C8F136;
    border-bottom: 3px solid #C8F136;
}

nav a:hover {
    color: #C8F136;
    transition: 0.3s;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding-top: 10px;
    padding: 10px;
    background-color: rgba(51, 51, 51, 1);
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.introduction {
    text-align: center;
    margin-top: 50px;
}

.introduction h1 {
    font-size: 4.5em;
    font-weight: bold;
    color: #F0F0F0;
    line-height: 1.5;
}

.floating-text {
    display: inline-block;
    position: relative;
    color: #C8F136;
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


h1 {
    color: #F0F0F0;
    font-size: 70px;
}

h2 {
    color: #F0F0F0;
    padding-left: 20px;
}

p {
    color: #F0F0F0;
    font-size: 17px;
}

ul {
    list-style-type: none;
    margin: 10px 0;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    text-align: left;
}

section {
    margin-bottom: 20px;
    padding: 10px;
}

small {
    font-size: 14px;
    color: #BEBEBE;
    display: block;
    text-align: center;
    margin-top: 20px;
}


.contact-card {
    background-color: #333;
    padding: 20px;
    margin: 8px;
    border-radius: 15px;
    text-align: center;
    width: 28.5%;
    display: inline-block;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    font-size: 17px;
}


.contact-card a {
    text-decoration: none;
    font-weight: bold;
}

#contact a {
    color: #C8F136;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .contact-card {
        width: 90%; 
        display: block; 
        margin: auto; 
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Default layout */
.about-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 60px;
    max-width: 100%;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 10px;
}

.about-section .image-placeholder {
    width: 240px;
    height: 240px;
    background-image: url('../IMG/me.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    flex-shrink: 0;
}

.about-section p {
    flex: 1;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 10px;
    line-height: 2;
}

/* Responsive layout */
@media screen and (max-width: 1000px) {
    .about-section {
        flex-direction: column;
        align-items: center; 
        padding-right: 10px; 
        padding-left: 10px; 
    }

    .about-section p {
        margin-top: 0; 
        margin-right: 10px;
        margin-left: 10px;
    }

}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.skills-left,
.skills-right {
    flex: 1;
}

.skill h4 {
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    font-size: 17px;
}

.progress-bar {
    background-color: #BEBEBE;
    border-radius: 10px;
    height: 4px;
    width: 80%;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.progress {
    background-color: #C8F136;
    height: 100%;
    border-radius: 10px;
}


.education-card {
    background-color: #333;
    padding: 15px;
    margin: 10px 0;
    border-radius: 20px;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.education-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details {
    font-size: 17px;
    color: #F0F0F0;
    text-align: right;
}

.education-card h3 {
    padding-left: 10px;
}

.education-card p {
    font-size: 17px;
    color: #BEBEBE;
    padding-right: 10px;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 1000px) {
    .education-header {
        flex-direction: column;  
        align-items: flex-start;
    }

    .details {
        margin-top: 10px; 
        margin-left: 10px;
        padding: 0;
    }

    .education-card p {
        margin-top: 10px; 
        margin-left: 10px;
        padding: 0;
    }
}


.work-experience-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.work-experience-card {
    background-color: #333;
    padding: 30px;
    margin-bottom: 20px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
}

.work-experience-card .texts {
    font-size: 17px;
    color: #F0F0F0;
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
}

.work-experience-card h3 {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 8px;
    margin-right: 8px;
}

.work-experience-card p {
    font-size: 17px;
    color: #BEBEBE;
    margin: 8px;
}